<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head><title>{% block title %}Freelancers Video Store{% endblock %}</title></head>
<body>

{% block login %}
    {% if user.is_authenticated %}
        Logged in as {{ user.username }} | <a href="/accounts/logout/">Log out</a>
    {% else %}
        Not logged in | <a href="/accounts/login/">Log in</a>
    {% endif %}
{% endblock %}
| | {# Primitive separator #}
{% block mainmenu %}
    <a href="/main/">All Videos</a> | <a href="/admin/">Admin</a>
    <hr>
{% endblock %}

{% block status %}
    {% for error in errors %}
        <em>
            {# TODO: Maybe put this in red? #}
            ERROR: {{ error }}
        </em>
        <hr>
    {% endfor %}
    {% for message in messages %}
        <em>
            {{ message }}
        </em>
        <hr>
    {% endfor %}
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>

