{% extends "base.html" %}
{# Display all videos #}

{% block content %}
<h2>All videos</h2>
<table border="2">
<b><th>Title</th><th>Status</th></b>
{% for video in videos %}
    <tr>
    <td><a href="/viddetail/{{ video.id }}">{{ video.title }}</a></td>
    {% if user.is_authenticated %}
        {% if video.is_available %}
            <td><form action="/rent/" method="post">
                <input type="submit" value="Rent now">
                <input type="hidden" name="id" value="{{ video.id }}">
            </form></td>
        {% else %}
            {% ifequal video.user user.username %}
                <td><form action="/return/" method="post">
                    <input type="submit" value="Return">
                    <input type="hidden" name="id" value="{{ video.id }}">
                </form></td>
            {% else %}
                <td>Rented by {{ video.user }}</td>
            {% endifequal %}
        {% endif %}
    {% else %}
        {# If not logged in, just show status #}
        <td>{{ video.rental_status_str }}</td>
    {% endif %}
    </tr>
{% endfor %}
</table>
{% endblock %}
